<h2>Sign up</h2>

<form id="form" action="/process-signup" method="post">
<label>
  Full Name
  <input type="text" name="fullName" placeholder="e.g. Han">
</label>
<br>

<label>
  Nickname
  <input type="text" name="nickName" placeholder="e.g. Hansolo">
</label>
<br>

<label>
  Email
  <input type="email" name="email" placeholder="e.g. blah@gmail.com">
</label>
<br>

<label>
  Password
  <input type="password" name="password" placeholder="Password">
</label>
<br>

<label>
  Confirm Password
  <input type="password" name="password-match" placeholder="Confirm Password">
</label>
<br>

  <button>🤙 Sign up</button>
</form>

<button><a href="/google/login">Google login</a></button>
