<main class="container main-container">

  <div class="row">
    <div class="col s12 l6 col-gauche">
      <img class="rmify-logo-large responsive-img" src="/images/rmiyc_logo_large.png" />
      <img class="smartphone responsive-img" src="/images/smartphone.png" />
    </div>
    
    <div class="col s12 l6 col-droite">

      <section class="google-login">
        <button class="google-btn">
          <a class="google-link" href="/google/login">
            <img class="google-image responsive-img" src="/images/Google_logo.png" />
          </a>
        </button>
      </section>

      <section class="log-in-section">
        <p>Already have an account?</p><a href="/login">LOG IN!</a>
        <div class="clearBoth"></div>
      </section>

      <section class="sign-up-section">
        <h4>SIGN UP</h4>

        <form id="signup-form" action="/process-signup" method="post">

          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input id="fullName" type="text" name="fullName" class="validate">
            <label for="fullName">Full Name</label>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">insert_emoticon</i>
            <input id="nickName" type="text" name="nickName" class="validate">
            <label for="nickName">Nickname</label>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">mail</i>
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email</label>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password-match" type="password" name="password-match" class="validate">
            <label for="password-match">Confirm Password</label>
          </div>

          <br>

          <button class="waves-effect waves-light btn sign-up-btn blue darken-3 right">Sign up</button>
        </form>

        <div class="clearBoth"></div>
      </section>

      
      

    </div>

  </div>

</main>


<script src='/javascripts/signup-script.js'></script>