<h2>{{user.fullName}} account</h2>

<div class="container main-container">
  {{#each myBook}}
      <img src="{{this.imageUrl}}">
      <p>Title of the book: {{this.title}}</p>
      <p>by {{this.author}}</p>
      <button>See the book</button>
      <br>
  {{/each}}
</div>




