<h2>YOU FOUND <span class="white-text">A BOOK !</span></h2>

<main class="container main-container center-align congrats-page">

    <h3>Congratulation !</h3>
    <p>ENJOY YOUR BOOK!</p>

    <a href="/user-account/{{blahUser._id}}"> >> Go to my account</a>
</main>