<h2 class="index-title">BOOK <span class="white-text">MAP</span></h2>

<div class="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{mapKey}}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/javascripts/script.js'></script>
