<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Read Me if you can</h1>

      <nav>

        {{#if blahUser}}

        <a href="/books-list">Books List</a>
        <a href="/">Books Map</a>
        <a href="/book-add">Add a book</a>
        <a href="/book-page">Book Page</a>
        <a href="/user-account">My account</a>
        <a href="/logout">Logout</a>

        {{else}}
          <a href="/signup">Signup now</a>
          <p>Already have an account?
            <a href="/login">Log In</a>
          </p>
        {{/if}}

    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>


