<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Read Me if you can</h1>

      <nav>
        <a href="/">Home</a>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        <a href="/books-list">Books List</a>
        <a href="/">Books Map</a>
        <a href="/book-add">Add a book</a>
        <a href="/book-page">Book Page</a>
        <a href="/user-account">My account</a>

    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>


