
body {
  font: 14px "Roboto Condensed", Helvetica, Arial, sans-serif;
  background: url('../images/bg-rayure-3.jpg');
  background-repeat: repeat;
}

// GENERAL LAYOUT ////////////////////////////////////////////////////////

.rmiyc-logo {
  border:none;
  padding: 0;
  margin:0;
  margin-top:2px;
}

.navbar-fixed {
  z-index: 99;
}

.nav-wrapper {
  background-color: #6dc02f;
  padding-left: 20px;
  padding-right:20px;
}

.nav-wrapper a {
  font-size:1.3em;
  letter-spacing: 1px;
  font-weight:300;
}

.fade-text {
  opacity: 0.5;
}

// .brand-logo {

// }


.main-container {
  padding-top:50px;
  padding-bottom:50px;
}

.main-container .row, .main-container .col {
  padding-left:0;
  padding-right:0;
}

.page-footer {
  background-color: #8f0032;
  border-top:1px solid #b80040;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.589);
}

.page-footer .footer-copyright {
  // background-color: #180008;
  background-color: #000;
}

.page-footer .footer-copyright p {
  color: #f50057;
}

h2 {
  text-align: center;
  margin:0;
  padding:0;
  // color: #f50057;
  color: #6dc02f;
  margin-bottom: 40px;
  background-color: #000;
  font-weight: 300;
  font-size:3.5em;
  letter-spacing: 2px;
  padding-top:30px;
  padding-bottom:30px;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.37);
  z-index: 90;
  border-bottom:1px solid rgb(24, 24, 24);
}

.index-title {
  margin-bottom:0px;
}


// SIGN UP ///////////////////////////////////////////////////////////

.col-gauche {
  // background-color: rgb(155, 155, 155);
  // height:300px;
  margin-bottom:40px;
  // width:450px;
}

.rmify-logo-large {
  width:auto;
}

.smartphone {
  width:auto;
  // margin-top:15px;
}

// .col-droite {
  
// }

.clearBoth {
  clear: both;
}

.row h4 {
  color: #6dc02f;
  padding:0;
  margin:0;
  margin-bottom: 30px;
  font-size: 1.7em;
}

.row .sign-up-btn {
  width:150px;
  // margin-left:5%;
}

.row .input-field input[type=text]:focus + label {
  color: #6dc02f;
}

.row .input-field .prefix.active {
  color: #f50057;
}

.row .input-field .prefix {
  // color: #6dc02f;
  color: rgb(165, 165, 165);
}

.row .input-field input[type=text]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.row .input-field input[type=text].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.row .input-field input[type=email]:focus + label {
  color: #6dc02f;
}

.row .input-field input[type=email]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.row .input-field input[type=email].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.row .input-field input[type=password]:focus + label {
  color: #6dc02f;
}

.row .input-field input[type=password]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.row .input-field input[type=password].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.sign-up-section {
  margin-top:0px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.322);
  border-radius: 10px;
  padding:30px 30px;
  margin-left:30px;
  margin-right:30px;
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.8);
}

.log-in-section {
  margin-bottom:25px;
  margin-top:10px;
  // background: #fff;
  // border: 1px solid #fff;
  // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.322);
  // border-radius: 10px;
  // padding:30px 30px;
  margin-left:30px;
  margin-right:30px;
}

.margin-center {
  margin:0 auto;
}

.log-in-section p {
  color:#fff;
  font-weight: 300;
  font-size: 1.6em;
  margin:0;
  padding:0;
  float: left;
  letter-spacing: 1px;
}

.log-in-section a {
  color:#6dc02f;
  font-weight: 700;
  font-size: 1.6em;
  margin:0;
  padding:0;
  padding-left:10px;
  float: right;
  letter-spacing: 1px;
}

.log-in-section a:hover {
  color: #f50057;
}

.google-login {
  // border-bottom:1px solid #6dc02f;
  padding-bottom: 15px;
  margin-left:30px;
  margin-right:30px;
}

.google-login a {
  display: block;
}

.google-btn {
  // background: #fff;
  background: none;
  border:none;
  width:100%;
  padding:0;
  margin:0;
  // box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.322);
  // border-radius: 10px;
  // padding:10px 20px;
  // padding-right: 30px;
  display: block;
  // cursor: pointer;
}

.google-link {
  padding:0;
  margin:0;
}

// .google-btn:hover {
//   box-shadow: 0px 8px 23px rgba(0, 0, 0, 0.322);
// }

.google-btn p {
  font-size: 1.2em;
  padding-left:10px;
  color: #6dc02f;
}

.google-image {
  border:none;
  width:auto;
  padding:0;
  margin:0;
  border-radius: 10px;
  box-sizing: border-box;
  border:1px solid rgb(196, 196, 196);
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.7));
}

.google-image:hover {
  filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.9));
}


// BOOK ADD ///////////////////////////////////////////////////////////

.search-section .search-book-form {
  padding-left: 10px;
  padding-right: 10px;
}

.search-section .input-field input[type=text]:focus + label {
  color: #6dc02f;
}

.search-section .input-field input[type=text] {
  color: #fff;
}

.search-section .input-field input[type=text]:focus {
  color: #fff;
}

.search-section .input-field .prefix.active {
  color: #f50057;
}

.search-section .input-field .prefix {
  // color: #6dc02f;
  color: rgb(165, 165, 165);
}

.search-section .input-field input[type=text]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.search-section .input-field input[type=text].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.search-btn {
  width:220px;
}

.book-list-section {
  width:100%;
  // background: #ddd;
  margin-top:50px;
  padding-top:30px;
  // border-top:1px solid #fff;
}

.book-list-section h4 {
  text-align: center;
  margin:0;
  padding:0;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 300;
}

.finded-book-item  {
  // width:150px;
  height:230px;
  // position: relative;
  overflow: hidden;
  // background: #f00;
}

.finded-book-item img {
  width:130px;
  height:190px;
}

.add-form-wrap {
  position: relative;
  margin: 0 auto;
  overflow:hidden;
  width:130px;
  height:190px;
  // background-color: #f00;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
}

.add-form-wrap:hover  {
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.9);
}

.book-item-inner-wrap {
  position: absolute;
  width:110px;
  height:170px;
  top:10px;
  top:200px;
  left:10px;
  background-color: rgba(31, 31, 31, 0.897);
}

.add-book-btn {
  position: absolute;
  top:-80px;
  top:90px;
  left:26px;
}

.add-book-btn i {
  font-size:3em;
}

.finded-book-item h5 {
  margin:0;
  padding:0;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
}

.finded-book-item p {
  margin:0;
  padding:0;
  padding-top:4px;
  font-size: 0.9em;
  color: #fff;
}


// BOOK PAGE /////////////////////////////////////////////////////////

.book-page-image {
  width:204px;
  height: 304px;
  margin:0 auto;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.8);
}

.book-page-infos {
  position: relative;
}

.book-page-infos h3 {
  margin:0;
  padding:0;
  // width:320px;
  // width:50%;
  // background: #ddd;
  font-size:2.7em;
  padding-top:58px;
  color:#fff;
}

.book-page-infos h5 {
  margin:0;
  padding:0;
  padding-top: 6px;
  padding-bottom: 4px;
  color:rgb(134, 134, 134);
  font-weight: 300;
  font-size:1.5em;
}

.book-page-infos p {
  text-align: justify;
  // border-bottom: 1px solid rgb(182, 182, 182);
  // padding-bottom:30px;
  // background-color: #ccc;
  overflow: hidden;
  height:138px;
  display: block;
  color:#fff;
}

.book-desc-border {
  border-bottom: 1px solid rgb(80, 80, 80);
  width:auto;
  margin:0;
  padding:0;
  height: 7px;
}

.book-infos-row {
  // border-bottom: 1px solid rgb(182, 182, 182);
  padding:0;
}

.book-page-clue h5 {
  margin-top:0;
  // margin-top:30px;
  color:#fff;
}

.book-page-clue p {
  border:none;
  // float:left;
  padding: 0;
  border-left:6px solid #8f0032;
  padding-left:20px;
  // font-weight: 300;
  font-style: italic;
  padding-right:70px;
  color:rgb(134, 134, 134);
}

.book-map-row {
  // margin-top:50px;
  margin-top:0px;
}

.found-btn-wrapper {
  // width:85%;
  position: absolute;
  top:0px;
  right: 0px;
  // margin-top:40px;
  // margin-bottom:40px;
  // overflow: hidden;
  z-index: 59;
  width:295px;
}

.found-wrapper {
  position: absolute;
  display: block;
  width:295px;
  // height:300px;
  height:0px;
  display: none;
  top:50px;
  left:0px;
  box-sizing: border-box;
  padding:30px;
  // background-color: #ccc;
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.8);
}

.found-submit-btn {
  width:150px;
}

.found-btn {
  width:250px;
  // width:75%;
  // width:85%;
  height:40px;
  // margin-top:30px;
  font-size:1.6em;
  font-weight: 300;
  letter-spacing: 2px;
  // text-align: left;
  float: left;
}

.found-btn-wrapper i {
color:#fff;
font-size:2.7rem;
//  padding-top:6px;
//  padding-right:20px;
display: block;
float: left;
text-align: left;
padding:0;
margin-right:5px;
background-color: #6b6b6b;
border-radius: 2px;
height:40px;
width:40px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.562);
}

.book-id {
  display: none;
}

// BOOK CACHING ///////////////////////////////////////////////////////////

.caching-form {
  margin-top:50px;
}

.book-caching-page p {
  text-align:center;
  font-size: 1.8em;
  padding:0;
  margin:0;
  font-weight: 700;
  color: #6dc02f;
}

.book-caching-page .tracking-section {
  background-color: rgb(255, 255, 255);
  width:70%;
  margin:0 auto;
  padding:15px;
  margin-top:20px;
  // margin-bottom:30px;
  border-radius: 10px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.288);
}

.book-caching-page .tracking-section p {
  font-weight: 300;
  color:rgb(134, 134, 134);
  padding-bottom:10px;
  font-size: 1.3em;
}

.book-caching-page .tracking-section h3 {
  padding-top:0px;
  margin:0px;
  font-weight: 700;
}

.book-caching-page .input-field {
  margin-top:30px;
}

.book-caching-page .input-field input[type=text]:focus + label {
  color: #6dc02f;
}

.book-caching-page .input-field input[type=text]:focus {
  color: #fff;
}

.book-caching-page .input-field input[type=text] {
  color: #fff;
}

.book-caching-page .input-field .prefix.active {
  color: #f50057;
}

.book-caching-page .input-field .prefix {
  // color: #6dc02f;
  color: rgb(165, 165, 165);
}

.book-caching-page .input-field input[type=text]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.book-caching-page .input-field input[type=text].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.location-btn {
  width:220px;
  // margin: 0 auto;
  margin-left:45px;
  margin-top:15px;
}


// LOGIN PAGE ////////////////////////////////////////////////////////

.login-page-form .input-field input[type=text]:focus + label {
  color: #6dc02f;
}

.login-page-form .input-field input[type=text]:focus {
  color: #fff;
}

.login-page-form .input-field input[type=text] {
  color: #fff;
}

.login-page-form .input-field input[type=password]:focus + label {
  color: #6dc02f;
}

.login-page-form .input-field input[type=password]:focus {
  color: #fff;
}

.login-page-form .input-field input[type=password] {
  color: #fff;
}

.login-page-form .input-field .prefix.active {
  color: #f50057;
}

.login-page-form .input-field .prefix {
  // color: #6dc02f;
  color: rgb(165, 165, 165);
}

.login-page-form .input-field input[type=text]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.login-page-form .input-field input[type=text].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.login-page-form .input-field input[type=password]:focus {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.login-page-form .input-field input[type=password].valid {
  border-bottom: 1px solid #f50057;
  box-shadow: 0 1px 0 0 #f50057;
}

.login-btn {
  width:150px;
  margin-left:45px;
  margin-top:20px;
}


// GOGGLE MAP ////////////////////////////////////////////////////////

.map {
  width: auto;
  height: 600px;
  // box-shadow: 0px 4px 16px rgb(155, 155, 155);
}

.book-page-infos .map {
  width: auto;
  height: 350px;
  box-shadow: 0px 4px 16px rgb(0, 0, 0);
  margin-top:0px;
}

.logout-btn {
  // color: #F65454;
  color:#f50057;
}

.logout-btn:hover {
  color:#fff;
}

.user-account-row h3 {
  margin:0;
  text-align:center;
  font-weight:300;
  margin-bottom:40px;
  color: #fff;
  font-size:2em;
  border-bottom: 1px solid rgb(80, 80, 80);
  padding-bottom:15px;
  margin-left:10px;
  margin-right:10px;
}

.my-book-page-infos {
  position: relative;
}

.my-book-page-infos a {
  color: #6dc02f;
  font-size:1.5em;
  letter-spacing: 1px;
}

.my-book-page-infos a:hover {
  color: #f50057;
}

.links-my-book .hide-book-link {
  font-size:2em;
  letter-spacing: 1px;
}

.links-my-book .hide-book-icon {
  padding-top:4px;
  padding-right:6px;
}

.my-book-page-infos h3 {
  margin:0;
  padding:0;
  // width:320px;
  // width:50%;
  // background: #ddd;
  font-size:2.7em;
  padding-top:48px;
  color:#fff;
}

.my-book-page-infos h5 {
  margin:0;
  padding:0;
  padding-top: 10px;
  padding-bottom: 6px;
  color:rgb(134, 134, 134);
  font-weight: 300;
  font-size:1.5em;
}

.my-book-page-infos p {
  text-align: justify;
  // border-bottom: 1px solid rgb(182, 182, 182);
  // padding-bottom:30px;
  // background-color: #ccc;
  overflow: hidden;
  height:138px;
  display: block;
  color:#fff;
}

.my-book-page-infos .tracking-section {
  background-color: rgb(255, 255, 255);
  width:100%;
  margin:0 auto;
  padding:15px;
  margin-top:35px;
  // margin-bottom:30px;
  border-radius: 10px;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.76);
  height:75px;
}

.my-book-page-infos .tracking-section p {
  font-weight: 300;
  color:rgb(134, 134, 134);
  padding-bottom:0px;
  font-size: 1.6em;
  margin:0;
  height:50px;
  text-align: center;
}

.tracking-code-text {
  color:#000;
  font-size:1.6em;
  font-weight:700;
  padding-left:10px;
}

.dashboard {
  margin-bottom:15px;
  margin-top:15px;
}

.pos-score {
  float: left;
  width: 10%;
  height: 50px;
  color: rgb(245, 240, 240);
  border-bottom: solid 1px gray;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 300;
  padding-bottom:8px;
}

.name-score {
  float: left;
  width: 80%;
  height: 50px;
  color: rgb(245, 240, 240);
  border-bottom: solid 1px gray;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 300;
  padding-bottom:8px;
}

.dashboard-score {
  float: right;
  width: 10%;
  height: 50px;
  color: #7fc24c;
  // border-radius: 50%;
  // background-color: #7fc24c;
  border-bottom: solid 1px gray;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 300;
  padding-bottom:8px;
}













.congrats-page h3 {
  margin:0;
  color:#fff;
}

.congrats-page p {
  margin:0;
  color: #f50057;
  font-size:3em;
  padding-top:30px;
  padding-bottom:30px;
}

.congrats-page a {
  margin:0;
  color:#6dc02f;
  font-size:1.4em;
  // margin-bottom:50px;
  display: block;
  height:50px;
  width:220px;
  margin:0 auto;
  text-align: center;
}

.congrats-page a:hover {
  color: #f50057;
}

.score {
  background: #fff;
  color:#6dc02f;
  border-radius: 20px;
  padding-right:8px;
  padding-left:8px;
  margin-left:12px;
  letter-spacing: 0px;
  font-weight: 400;
}